@import "tailwindcss";

:root {

  --background: var(--not-white);
  --midnight-navy: #0A1526;
  --not-white: #F4F6F9;
  --primary-text: #0A1526;
  --royal-blue: #002366;
  --secondary-text: #64748B;  
  --highlighted-text: #6ce437;
  --border-divider: #E2E8F0;
  --font-family: Helvetica;
  --ghost-white: #fcfcfc;
  --caitee-green: #56bc97;
  /* --theme-gradient: linear-gradient(to bottom, var(var(--not-white)), var(--royal-blue)) */

}

 @theme inline {
  --color-background: var(--background);
  --text-color: var(--primary-text);
  --text-s-color: var(--secondary-text);
  --primary-use: var(--royal-blue);
  --text-accent: var(--highlighted-text);
  

}
@theme {
  --breakpoint-md: 1200px; 
}
/* @theme gradient {
  
  --gradient-dark-color: var(--primary-text);
  --gradient-light-color: var(--royal-blue);
  --light-blue: #87CEEB;
  --lighest-blue: #E0F6FF;


} */

body {
  background: var(--background);
  font-family: var(--font-family);
  color: var(--primary-text);

}
header {
  font-family: Helvetica;
  font: var(--primary-text);
}
