@import "tailwindcss";

:root {

  --background: var(--not-white);
  --midnight-navy: #0A1526;
  --not-white: #F4F6F9;
  --primary-text: #0A1526;
  --royal-blue: #002366;
  --secondary-text: #64748B;  
  --highlighted-text: #6ce437;
  --border-divider: #E2E8F0;
  --font-family: Helvetica;
  --ghost-white: #fcfcfc;
  --caitee-green: #56bc97;
  /* --theme-gradient: linear-gradient(to bottom, var(var(--not-white)), var(--royal-blue)) */

}

 @theme inline {
  --color-background: var(--background);
  --text-color: var(--primary-text);
  --text-s-color: var(--secondary-text);
  --primary-use: var(--royal-blue);
  --text-accent: var(--highlighted-text);
  

}
@theme {
  --breakpoint-md: 1200px;
  --animate-pulse-sweep: sweep 6s linear infinite;

}
  
@keyframes sweep {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); } /* Slides exactly half its width to loop */
}

body {
  background: var(--background);
  font-family: var(--font-family);
  color: var(--primary-text);

}
header {
  font-family: Helvetica;
  font: var(--primary-text);
}
